div, p{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;
    min-width: 100px;
    text-align: center;
}

.shadow-simple{
    box-shadow: 8px 9px 6px 0px #888;
}

.shadow-inset{
    box-shadow: inset 9px 6px 9px #888;
}

.text-shadow{
    text-shadow: 2px 2px 2px #888;
}

.radius-small{
    border: 2px solid black;
    border-radius: 5px;
}

.radius-medium{
    border: 2px solid black;
    border-radius: 15px;
}

.radius-circle{
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}